<div class="row">
<div class="questions col-md-6 col-md-offset-3">
  <% @questions.each do |question| %>
    <div class="question">
      <h2><%= question.name %></h2>
      <ul class="responses">
        <% order_responses(question.responses).each do |response| %>
          <li>
            <%= response.text.titleize %>
            <span class="badge"><%= response.up_votes.count %></span>
            <% if current_responder.can_respond?(response) %>
              <%= link_to "+1", response_up_votes_path(response), method: :post, class: "btn btn-xs btn-primary" %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= render "responses/form", response: question.responses.build %>
    </div>
  <% end %>
</div>
</div>
